## Confirmation needed notebook

Goal: Find QSOs that have been recorded for which nobody has yet confirmed from that DX entity for that band and mode. 

Instructions:  Go get a report from https://www.rickmurphy.net/lotwquery.htm
Enter your call sign and check "worked station location".  You'll get a file called "lotwreport.adi". 

Plug that filename below, then run the rest of the notebook.

In [1]:
## Download a report from LOTW.  Put the file name here. 

lotw_report = b"/home/lemley/Downloads/lotwreport.adi"

In [2]:
## using project https://pypi.org/project/adif-io/ to parse the report. 
!pip install adif-io
## if you want the results as a spreadsheet, you need this: 
!pip install openpyxl

Requirement already satisfied: adif-io in /home/lemley/.local/lib/python3.8/site-packages (0.0.3)
Requirement already satisfied: openpyxl in /home/lemley/.local/lib/python3.8/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /home/lemley/.local/lib/python3.8/site-packages (from openpyxl) (1.1.0)

In [3]:
## use pandas for basic data handling: 
import pandas as pd 

# use the adif-io project from https://pypi.org/project/adif-io/
import adif_io

qsos_raw, adif_header = adif_io.read_from_file(lotw_report)

# The QSOs are probably sorted by QSO time already, but make sure:
qsos_raw_sorted = sorted(qsos_raw, key = lambda qso: qso["APP_LOTW_QSO_TIMESTAMP"])

In [4]:
qsodf = pd.DataFrame(qsos_raw_sorted)

In [5]:
# fix up some dates. 
qsodf['QSO_DATE'] = pd.to_datetime(qsodf['QSO_DATE'])
qsodf['APP_LOTW_RXQSO'] = pd.to_datetime(qsodf['APP_LOTW_RXQSO'])
qsodf['APP_LOTW_QSO_TIMESTAMP'] = pd.to_datetime(qsodf['APP_LOTW_QSO_TIMESTAMP']).dt.tz_localize(None)
qsodf['QSLRDATE'] = pd.to_datetime(qsodf['QSLRDATE'])
qsodf['APP_LOTW_RXQSL'] = pd.to_datetime(qsodf['APP_LOTW_RXQSL'])

# we will use this to join to DX list:
# qsodf['DXCC'] = qsodf['DXCC'].astype(int)

qsodf.dtypes

CALL                                   object
BAND                                   object
FREQ                                   object
MODE                                   object
APP_LOTW_MODEGROUP                     object
QSO_DATE                       datetime64[ns]
APP_LOTW_RXQSO                 datetime64[ns]
TIME_ON                                object
APP_LOTW_QSO_TIMESTAMP         datetime64[ns]
QSL_RCVD                               object
QSLRDATE                       datetime64[ns]
APP_LOTW_RXQSL                 datetime64[ns]
DXCC                                   object
COUNTRY                                object
APP_LOTW_DXCC_ENTITY_STATUS            object
PFX                                    object
APP_LOTW_2XQSL                         object
GRIDSQUARE                             object
STATE                                  object
CNTY                                   object
CQZ                                    object
APP_LOTW_CQZ_INFERRED                  object
ITUZ                                   object
APP_LOTW_ITUZ_INFERRED                 object
APP_LOTW_MODE                          object
APP_LOTW_QSLMODE                       object
IOTA                                   object
APP_LOTW_CQZ_INVALID                   object
APP_LOTW_ITUZ_INVALID                  object
APP_LOTW_NPSUNIT                       object
APP_LOTW_GRIDSQUARE_INVALID            object
SUBMODE                                object
dtype: object

In [6]:
# save it as a spreadsheet because some people like that. 
qsodf.to_excel('qsos.xlsx')

In [7]:
# review some interesting columns: 

qsodf[[#'APP_LOTW_OWNCALL', 
       #'STATION_CALLSIGN', 
       #'MY_DXCC', 
       #'MY_COUNTRY',
       #'APP_LOTW_MY_DXCC_ENTITY_STATUS', 
       #'MY_GRIDSQUARE', 
       #'MY_STATE',
       #'MY_CNTY', 
       #'MY_CQ_ZONE', 
       #'MY_ITU_ZONE', 
       'CALL', 'BAND', 'FREQ', 'MODE',
       'APP_LOTW_MODEGROUP', 'QSO_DATE', 'APP_LOTW_RXQSO',
       #'TIME_ON',
       'APP_LOTW_QSO_TIMESTAMP', 'QSL_RCVD', 'QSLRDATE', 'APP_LOTW_RXQSL',
        'DXCC',
       # 'COUNTRY', 'APP_LOTW_DXCC_ENTITY_STATUS', 'PFX',
       #'APP_LOTW_2XQSL', 
       #'GRIDSQUARE', 
       #'STATE', 'CNTY', 
       #'CQZ',
       #'APP_LOTW_CQZ_INFERRED', 'ITUZ', 'APP_LOTW_ITUZ_INFERRED', 
       #'APP_LOTW_MODE', 'APP_LOTW_QSLMODE', 'IOTA', 'APP_LOTW_CQZ_INVALID',
       #'APP_LOTW_ITUZ_INVALID', 'APP_LOTW_NPSUNIT', 'APP_LOTW_MY_NPSUNIT',
       #'APP_LOTW_MY_CQ_ZONE_INFERRE', 'APP_LOTW_GRIDSQUARE_INVALID',
       #'MY_VUCC_GRIDS', 'SUBMODE'
      ]]

,CALL,BAND,FREQ,MODE,APP_LOTW_MODEGROUP,QSO_DATE,APP_LOTW_RXQSO,APP_LOTW_QSO_TIMESTAMP,QSL_RCVD,QSLRDATE,APP_LOTW_RXQSL,DXCC
0,W7BWI,20M,14.07355,OLIVIA,DATA,2014-11-01,2016-11-29 12:06:06,2014-11-01 15:33:00,Y,2016-11-29,2016-11-29 12:06:06,291
1,VE7NBQ,10M,28.12337,DATA,DATA,2014-11-01,2016-11-29 12:06:06,2014-11-01 22:37:00,Y,2016-11-29,2016-11-29 12:06:06,1
2,N8KMY,20M,14.07435,OLIVIA,DATA,2014-11-03,2016-11-29 12:06:06,2014-11-03 22:52:00,N,NaT,NaT,NaN
3,WD9DUI,20M,14.07315,DATA,DATA,2014-12-02,2016-11-29 12:06:06,2014-12-02 23:36:00,N,NaT,NaT,NaN
4,WD9DUI,20M,14.07315,CONTESTI,DATA,2014-12-02,2015-09-07 14:05:03,2014-12-02 23:36:00,N,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2894,KF6JXM,12M,24.91733,FT8,DATA,2022-05-25,2022-05-25 01:14:11,2022-05-25 01:04:30,Y,2022-05-25,2022-05-25 05:00:17,291
2895,NU6O,10M,28.07512,FT8,DATA,2022-05-25,2022-05-25 02:25:25,2022-05-25 01:29:30,N,NaT,NaT,NaN
2896,KS5Z,10M,28.07512,FT8,DATA,2022-05-25,2022-05-25 02:25:25,2022-05-25 01:30:45,N,NaT,NaT,NaN
2897,VE7LGP,10M,28.07512,FT8,DATA,2022-05-25,2022-05-25 02:25:25,2022-05-25 01:32:00,N,NaT,NaT,NaN
2898,AG5JU,10M,28.07550,FT8,DATA,2022-05-25,2022-05-25 02:25:25,2022-05-25 02:21:00,Y,2022-05-25,2022-05-25 02:25:25,291

In [8]:
## Get table of DX codes and their descriptive names

In [9]:
# heck, we can just read the fixed-format file from http://www.arrl.org/files/file/DXCC/2018_Current_Deleted.txt

# warning: I'm hard-coding where to start and stop the list.  If the list is updated, this will break.
dxdf = pd.read_fwf('http://www.arrl.org/files/file/DXCC/2018_Current_Deleted.txt', 
                colspecs='infer', 
                widths=None, 
                skiprows=19,
                infer_nrows=340, 
                nrows=340,
                names=["Prefix","Entity","Continent","ITU","CQ","Code"])


dxdf['Code']=dxdf['Code'].astype(int)

dxdf['Deleted']=False

dxdf

,Prefix,Entity,Continent,ITU,CQ,Code,Deleted
0,(1),Spratly Is.,AS,50,26,247,False
1,1A(1),Sovereign Military Order of Malta,EU,28,15,246,False
2,3A*,Monaco,EU,27,14,260,False
3,"3B6,7",Agalega & St. Brandon Is.,AF,53,39,4,False
4,3B8,Mauritius,AF,53,39,165,False
...,...,...,...,...,...,...,...
335,ZL8*,Kermadec Is.,OC,60,32,133,False
336,ZL9*,New Zealand Subantarctic Islands,OC,60,32,16,False
337,ZP#*,Paraguay,SA,14,11,132,False
338,ZR-ZU#*,South Africa,AF,57,38,462,False
339,ZS8*,Prince Edward & Marion Is.,AF,57,38,201,False

In [10]:
# the deleted entities list is in the same file further down

deldxdf = pd.read_fwf('http://www.arrl.org/files/file/DXCC/2018_Current_Deleted.txt', 
                colspecs='infer', 
                widths=None, 
                skiprows=441,
                infer_nrows=62, 
                nrows=62,
                names=["Prefix","Entity","Continent","ITU","CQ","Code"])

deldxdf['Code']=deldxdf['Code'].astype(int)

deldxdf['Deleted']=True


deldxdf

         Prefix                Entity Continent ITU  CQ  Code  Deleted
0           (2)         Blenheim Reef        AF  41  39    23     True
1           (3)           Geyser Reef        AF  53  39    93     True
2           (4)           Abu Ail Is.        AS  39  21     2     True
3     1M(1),(5)          Minerva Reef        OC  62  32   178     True
4         4W(6)   Yemen Arab Republic        AS  39  21   154     True
..          ...                   ...       ...  ..  ..   ...      ...
57      ZC5(44)  British North Borneo        OC  54  28    25     True
58  ZC6,4X1(48)             Palestine        AS  39  20   196     True
59      ZD4(49)  Gold Coast, Togoland        AF  46  35   102     True
60    ZS0,1(50)           Penguin Is.        AF  57  38   493     True
61      ZS9(51)            Walvis Bay        AF  57  38   488     True

[62 rows x 7 columns]

In [11]:
# save out the DX list for inspection.  Why there are 5 codes for LU prefixes? 
dxdf.append(deldxdf).to_csv('dx_list.csv')

In [12]:
# combine them to for a prefix_code table 

df = dxdf.append(deldxdf)[['Code', 'Prefix']]

# fix commas in prefix, per https://stackoverflow.com/questions/50731229/split-cell-into-multiple-rows-in-pandas-dataframe

# Set the columns not to be touched as the index:
#df.set_index(['Entity', 'Continent', 'ITU', 'CQ', 'Code', 'Deleted'], inplace=True)
df.set_index(['Code'], inplace=True)

# while we're here, fix up human-centric sequences in the prefix list
abbrevs = { 
    '3B6,7' : '3B6,3B7',
    '7T-7Y' : '7T,7U,7V,7W,7X,7Y',
    '9M2,4' : '9M2,9M4',
    '9M6,8' : '9M6,9M8',
    '9Q-9T' : '9Q,9R,9S,9T',
    'BU-BX' : 'BU,BV,BW,BX',
    'CA-CE' : 'CA,CB,CC,CD,CE',
    'CV-CX' : 'CV,CW,CX',
    'DA-DR' : 'DA,DB,DC,DD,DE,DF,DG,DH,DI,DJ,DK,DL,DM,DN,DO,DP,DQ,DR',
    'DU-DZ' : 'DU,DV,DW,DX,DY,DZ',
    '4D-4I' : '4D,4E,4F,4G,4H,4I',
    'EA-EH' : 'EA,EB,EC,ED,EE,EF,EG,EH',
    'EA6-EH6' : 'EA6,EB6,EC6,ED6,EE6,EF6,EG6,EH6',
    'EA8-EH8' : 'EA8,EB8,EC8,ED8,EE8,EF8,EG8,EH8',
    'EA9-EH9' : 'EA9,EB9,EC9,ED9,EE9,EF9,EG9,EH9',
    'EU-EW' : 'EU,EV,EW',
    '6K-6N' : '6K,6L,6M,6N',
    'JA-JS' : 'JA,JB,JC,JD,JE,JF,JG,JH,JI,JK,JL,JM,JN,JO,JP,JQ,JR,JS',
    '7J-7N' : '7J,7K,7L,7M,7N',
    'JT-JV' : 'JT,JU,JV',
    'AA-AK' : 'AA,AB,AC,AD,AE,AF,AG,AH,AI,AJ,AK',
    'KH6,7' : 'KH6,KH7',
    'KP3,4' : 'KP3,KP4',
    'LA-LN' : 'LA,LB,LC,LD,LE,LF,LG,LH,LI,LK,LL,LM,LN',
    'LO-LW' : 'LO,LP,LQ,LR,LS,LT,LU,LV,LW',
    'OA-OC' : 'OA,OB,OC',
    'OF-OI' : 'OF,OG,OH,OI',
    'OK-OL' : 'OK,OL',
    'ON-OT' : 'ON,OO,OP,OQ,OR,OS,OT',
    'OU-OW' : 'OU,OV,OW',
    'PA-PI' : 'PA,PB,PC,PD,PE,PF,PG,PH,PI',
    'PJ5,6' : 'PJ5,PJ6',
    'PP-PY' : 'PP,PQ,PR,PS,PT,PU,PV,PW,PX,PY',
    'ZV-ZZ' : 'ZV,ZW,ZX,ZY,ZZ',
    'PP0-PY0F' : 'PP0F,PQ0F,PR0F,PS0F,PT0F,PU0F,PV0F,PW0F,PX0F,PY0F',
    'PP0-PY0S' : 'PP0S,PQ0S,PR0S,PS0S,PT0S,PU0S,PV0S,PW0S,PX0S,PY0S',
    'PP0-PY0T' : 'PP0T,PQ0T,PR0T,PS0T,PT0T,PU0T,PV0T,PW0T,PX0T,PY0T',
    'SA-SM' : 'SA,SB,SC,SD,SE,SF,SG,SH,SI,SJ,SK,SL,SM',
    'SN-SR' : 'SN,SO,SP,SQ,SR',
    'SV-SZ' : 'SV,SW,SX,SY,SZ',
    'TA-TC' : 'TA,TB,TC',
    'UA-UI1-7' :'UA1,UA2,UA3,UA4,UA5,UA6,UA7,' + 
        'UB1,UB2,UB3,UB4,UB5,UB6,UB7,' +
        'UC1,UC2,UC3,UC4,UC5,UC6,UC7,' +
        'UD1,UD2,UD3,UD4,UD5,UD6,UD7,' +
        'UE1,UE2,UE3,UE4,UE5,UE6,UE7,' +
        'UF1,UF2,UF3,UF4,UF5,UF6,UF7,' +
        'UG1,UG2,UG3,UG4,UG5,UG6,UG7,' +
        'UH1,UH2,UH3,UH4,UH5,UH6,UH7,' +
        'UI1,UI2,UI3,UI4,UI5,UI6,UI7', 
    'RA-RZ' : 'RA,RB,RC,RD,RE,RF,RG,RH,RI,RJ,RK,RL,RM,RN,RO,RP,RQ,RS,RT,RU,RV,RW,RX,RY,RZ',
    'UA-UI8-0' : 'UA8,UA9,UA0,' + 
        'UB8,UB9,UB0,' +
        'UC8,UC9,UC0,' +
        'UD8,UD9,UD0,' +
        'UE8,UE9,UE0,' +
        'UF8,UF9,UF0,' +
        'UG8,UG9,UG0,' +
        'UH8,UH9,UH0,' +
        'UI8,UI9,UI0',
    'UJ-UM' : 'UJ,UK,UL,UM',
    'UN-UQ' : 'UN,UO,UP,UQ' ,
    'UR-UZ' : 'UR,US,UT,UV,UW,UX,UY,UZ',
    'EM-EO' : 'EM,EN,EO',
    'VA-VG' : 'VA,VB,VC,VD,VE,VF,VG',
    'XA-XI' : 'XA,XB,XC,XD,XE,XF,XG,XH,XI',
    'XA4-XI4' : 'XA4,XB4,XC4,XD4,XE4,XH4,XI4',
    'YB-YH' : 'YB,YC,YD,YE,YF,YG,YH',
    'H6-7' : 'H6,H7',
    'YO-YR' : 'YO,YP,YQ,YR',
    'YV-YY' : 'YV,YY',
    'ZL-ZM' : 'ZL,ZM',
    'ZR-ZU' : 'ZR,ZS,ZT,ZU',
    'DA-DM' : 'DA,DB,DC,DD,DE,DF,DG,DH,DI,DJ,DK,DL,DM',
    'Y2-9' : 'Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9',
    'KR6-8' : 'KR6,KR7,KR8',
    'OK-OM' : 'OK,OL,OM',
    'PK1-3' : 'PK1,PK2,PK3',
    'VS9A,P,S' : 'VS9A,VS9P,VS9S',
    'ZS0,1' : 'ZS0,ZS1',
    
}

for abbrev in abbrevs: 
    df = df.apply(lambda x: x.str.replace(abbrev, abbrevs[abbrev])) 

# The next step is a 2-step process: Split on comma to get a column of lists, then call explode to explode the list values into their own rows.
df = df.apply(lambda x: x.str.split(',').explode())

# while we're here, nuke special characters
df = df.apply(lambda x: x.str.replace("[\*\(#^]+.*", ''))

# while we're here, nuke spaces in the prefix field
df = df.apply(lambda x: x.str.replace(" ", ''))

# Finally, reset the index.
prefix_code = df.reset_index()

with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', 120):  # more options can be specified also
    print(prefix_code)

     Code   Prefix
0     247
1     246       1A
2     260       3A
3       4      3B6
4       4      3B7
5     165      3B8
6     207      3B9
7      49       3C
8     195      3C0
9     176      3D2
10    489      3D2
11    460      3D2
12    468      3DA
13    474       3V
14    293       3W
15    293       XV
16    107       3X
17     24       3Y
18    199       3Y
19     18       4J
20     18       4K
21     75       4L
22    514       4O
23    315       4S
24    117   4U_ITU
25    289    4U_UN
26    511       4W
27    336       4X
28    336       4Z
29    436       5A
30    215       5B
31    215       C4
32    215       P3
33    470       5H
34    470       5I
35    450       5N
36    438       5R
37    444       5T
38    187       5U
39    483       5V
40    190       5W
41    286       5X
42    430       5Y
43    430       5Z
44    456       6V
45    456       6W
46     82       6Y
47    492       7O
48    432       7P
49    440       7Q
50    400       7T
51    400       7U
52    400       7V
53    400       7W
54    400       7X
55    400       7Y
56     62       8P
57    159       8Q
58    129       8R
59    497       9A
60    424       9G
61    257       9H
62    482       9I
63    482       9J
64    348       9K
65    458       9L
66    299      9M2
67    299      9M4
68     46      9M6
69     46      9M8
70    369       9N
71    414       9Q
72    414       9R
73    414       9S
74    414       9T
75    404       9U
76    381       9V
77    454       9X
78     90       9Y
79     90       9Z
80    402       A2
81    160       A3
82    370       A4
83    306       A5
84    391       A6
85    376       A7
86    304       A9
87    372       AP
88    318        B
89    506      BS7
90    386       BU
91    386       BV
92    386       BW
93    386       BX
94    505     BV9P
95    157       C2
96    203       C3
97    422       C5
98     60       C6
99    181       C8
100   181       C9
101   112       CA
102   112       CB
103   112       CC
104   112       CD
105   112       CE
106    47      CE0
107   125      CE0
108   217      CE0
109    13  CE9/KC4
110    70       CM
111    70       CO
112   446       CN
113   104       CP
114   272       CT
115   256      CT3
116   149       CU
117   144       CV
118   144       CW
119   144       CX
120   211      CY0
121   252      CY9
122   401       D2
123   401       D3
124   409       D4
125   411       D6
126   230       DA
127   230       DB
128   230       DC
129   230       DD
130   230       DE
131   230       DF
132   230       DG
133   230       DH
134   230       DI
135   230       DJ
136   230       DK
137   230       DL
138   230       DM
139   230       DN
140   230       DO
141   230       DP
142   230       DQ
143   230       DR
144   375       DU
145   375       DV
146   375       DW
147   375       DX
148   375       DY
149   375       DZ
150   375       4D
151   375       4E
152   375       4F
153   375       4G
154   375       4H
155   375       4I
156    51       E3
157   510       E4
158   191       E5
159   234       E5
160   188       E6
161   501       E7
162   281       EA
163   281       EB
164   281       EC
165   281       ED
166   281       EE
167   281       EF
168   281       EG
169   281       EH
170    21      EA6
171    21      EB6
172    21      EC6
173    21      ED6
174    21      EE6
175    21      EF6
176    21      EG6
177    21      EH6
178    29      EA8
179    29      EB8
180    29      EC8
181    29      ED8
182    29      EE8
183    29      EF8
184    29      EG8
185    29      EH8
186    32      EA9
187    32      EB9
188    32      EC9
189    32      ED9
190    32      EE9
191    32      EF9
192    32      EG9
193    32      EH9
194   245       EI
195   245       EJ
196    14       EK
197   434       EL
198   330       EP
199   330       EQ
200   179       ER
201    52       ES
202    53       ET
203    27       EU
204    27       EV
205    27       EW
206   135       EX
207   262       EY
208   280       EZ
209   227        F
210    79       FG
211    79       TO
212   169       FH
213   169       TO
214   516       FJ
215   516       TO
216   162       FK
217   162       TX
218   512       FK
219   512       TX
220    84       FM
221    84       TO
222   508       FO
223   508       TO
224    36       FO
225    36       TX
226   175       FO
227   175       TX
228   509       FO
229   509       TX
230   277       FP
231   453       FR
232   453       TO
233    99     FT/G
234    99       TO
235   124     FT/J
236   124        E
237   124       TO
238   276     FT/T
239   276       TO
240   213       FS
241   213       TO
242    41     FT/W
243   131     FT/X
244    10     FT/Z
245   298       FW
246    63       FY
247   223        G
248   223       GX
249   223        M
250   114       GD
251   114       GT
252   265       GI
253   265       GN
254   122       GJ
255   122       GH
256   279       GM
257   279       GS
258   106       GU
259   106       GP
260   294       GW
261   294       GC
262   185       H4
263   507      H40
264   239       HA
265   239       HG
266   287       HB
267   251      HB0
268   120       HC
269   120       HD
270    71      HC8
271    71      HD8
272    78       HH
273    72       HI
274   116       HJ
275   116       HK
276   116       5J
277   116       5K
278   161      HK0
279   216      HK0
280   137       HL
281   137       6K
282   137       6L
283   137       6M
284   137       6N
285    88       HO
286    88       HP
287    80       HQ
288    80       HR
289   387       HS
290   387       E2
291   295       HV
292   378       HZ
293   248        I
294   225      IS0
295   225      IM0
296   382       J2
297    77       J3
298   109       J5
299    97       J6
300    95       J7
301    98       J8
302   339       JA
303   339       JB
304   339       JC
305   339       JD
306   339       JE
307   339       JF
308   339       JG
309   339       JH
310   339       JI
311   339       JK
312   339       JL
313   339       JM
314   339       JN
315   339       JO
316   339       JP
317   339       JQ
318   339       JR
319   339       JS
320   339       7J
321   339       7K
322   339       7L
323   339       7M
324   339       7N
325   177      JD1
326   192      JD1
327   363       JT
328   363       JU
329   363       JV
330   259       JW
331   118       JX
332   342       JY
333   291        K
334   291        W
335   291        N
336   291       AA
337   291       AB
338   291       AC
339   291       AD
340   291       AE
341   291       AF
342   291       AG
343   291       AH
344   291       AI
345   291       AJ
346   291       AK
347   105      KG4
348   166      KH0
349    20      KH1
350   103      KH2
351   123      KH3
352   174      KH4
353   197      KH5
354   110      KH6
355   110      KH7
356   138     KH7K
357     9      KH8
358   515      KH8
359   297      KH9
360     6       KL
361     6       AL
362     6       NL
363     6       WL
364   182      KP1
365   285      KP2
366   202      KP3
367   202      KP4
368    43      KP5
369   266       LA
370   266       LB
371   266       LC
372   266       LD
373   266       LE
374   266       LF
375   266       LG
376   266       LH
377   266       LI
378   266       LK
379   266       LL
380   266       LM
381   266       LN
382   100       LO
383   100       LP
384   100       LQ
385   100       LR
386   100       LS
387   100       LT
388   100       LU
389   100       LV
390   100       LW
391   254       LX
392   146       LY
393   212       LZ
394   136       OA
395   136       OB
396   136       OC
397   354       OD
398   206       OE
399   224       OF
400   224       OG
401   224       OH
402   224       OI
403     5      OH0
404   167      OJ0
405   503       OK
406   503       OL
407   504       OM
408   209       ON
409   209       OO
410   209       OP
411   209       OQ
412   209       OR
413   209       OS
414   209       OT
415   221       OU
416   221       OV
417   221       OW
418   221       OZ
419   237       OX
420   222       OY
421   163       P2
422    91       P4
423   344       P5
424   263       PA
425   263       PB
426   263       PC
427   263       PD
428   263       PE
429   263       PF
430   263       PG
431   263       PH
432   263       PI
433   517      PJ2
434   520      PJ4
435   519      PJ5
436   519      PJ6
437   518      PJ7
438   108       PP
439   108       PQ
440   108       PR
441   108       PS
442   108       PT
443   108       PU
444   108       PV
445   108       PW
446   108       PX
447   108       PY
448   108       ZV
449   108       ZW
450   108       ZX
451   108       ZY
452   108       ZZ
453    56     PP0F
454    56     PQ0F
455    56     PR0F
456    56     PS0F
457    56     PT0F
458    56     PU0F
459    56     PV0F
460    56     PW0F
461    56     PX0F
462    56     PY0F
463   253     PP0S
464   253     PQ0S
465   253     PR0S
466   253     PS0S
467   253     PT0S
468   253     PU0S
469   253     PV0S
470   253     PW0S
471   253     PX0S
472   253     PY0S
473   273     PP0T
474   273     PQ0T
475   273     PR0T
476   273     PS0T
477   273     PT0T
478   273     PU0T
479   273     PV0T
480   273     PW0T
481   273     PX0T
482   273     PY0T
483   140       PZ
484    61     R1/F
485   302       S0
486   302
487   305       S2
488   499       S5
489   379       S7
490   219       S9
491   284       SA
492   284       SB
493   284       SC
494   284       SD
495   284       SE
496   284       SF
497   284       SG
498   284       SH
499   284       SI
500   284       SJ
501   284       SK
502   284       SL
503   284       SM
504   284       7S
505   284       8S
506   269       SN
507   269       SO
508   269       SP
509   269       SQ
510   269       SR
511   466       ST
512   478       SU
513   236       SV
514   236       SW
515   236       SX
516   236       SY
517   236       SZ
518   236       J4
519   180     SV/A
520    45      SV5
521    45      J45
522    40      SV9
523    40      J49
524   282       T2
525   301      T30
526    31      T31
527    48      T32
528   490      T33
529   232       T5
530   232       6O
531   278       T7
532    22       T8
533    22
534   390       TA
535   390       TB
536   390       TC
537   242       TF
538    76       TG
539    76       TD
540   308       TI
541   308       TE
542    37      TI9
543   406       TJ
544   214       TK
545   408       TL
546   412       TN
547   420       TR
548   410       TT
549   428       TU
550   416       TY
551   442       TZ
552    54      UA1
553    54      UA2
554    54      UA3
555    54      UA4
556    54      UA5
557    54      UA6
558    54      UA7
559    54      UB1
560    54      UB2
561    54      UB3
562    54      UB4
563    54      UB5
564    54      UB6
565    54      UB7
566    54      UC1
567    54      UC2
568    54      UC3
569    54      UC4
570    54      UC5
571    54      UC6
572    54      UC7
573    54      UD1
574    54      UD2
575    54      UD3
576    54      UD4
577    54      UD5
578    54      UD6
579    54      UD7
580    54      UE1
581    54      UE2
582    54      UE3
583    54      UE4
584    54      UE5
585    54      UE6
586    54      UE7
587    54      UF1
588    54      UF2
589    54      UF3
590    54      UF4
591    54      UF5
592    54      UF6
593    54      UF7
594    54      UG1
595    54      UG2
596    54      UG3
597    54      UG4
598    54      UG5
599    54      UG6
600    54      UG7
601    54      UH1
602    54      UH2
603    54      UH3
604    54      UH4
605    54      UH5
606    54      UH6
607    54      UH7
608    54      UI1
609    54      UI2
610    54      UI3
611    54      UI4
612    54      UI5
613    54      UI6
614    54      UI7
615    54       RA
616    54       RB
617    54       RC
618    54       RD
619    54       RE
620    54       RF
621    54       RG
622    54       RH
623    54       RI
624    54       RJ
625    54       RK
626    54       RL
627    54       RM
628    54       RN
629    54       RO
630    54       RP
631    54       RQ
632    54       RS
633    54       RT
634    54       RU
635    54       RV
636    54       RW
637    54       RX
638    54       RY
639    54       RZ
640   126      UA2
641   126      RA2
642    15      UA8
643    15      UA9
644    15      UA0
645    15      UB8
646    15      UB9
647    15      UB0
648    15      UC8
649    15      UC9
650    15      UC0
651    15      UD8
652    15      UD9
653    15      UD0
654    15      UE8
655    15      UE9
656    15      UE0
657    15      UF8
658    15      UF9
659    15      UF0
660    15      UG8
661    15      UG9
662    15      UG0
663    15      UH8
664    15      UH9
665    15      UH0
666    15      UI8
667    15      UI9
668    15      UI0
669    15       RA
670    15       RB
671    15       RC
672    15       RD
673    15       RE
674    15       RF
675    15       RG
676    15       RH
677    15       RI
678    15       RJ
679    15       RK
680    15       RL
681    15       RM
682    15       RN
683    15       RO
684    15       RP
685    15       RQ
686    15       RS
687    15       RT
688    15       RU
689    15       RV
690    15       RW
691    15       RX
692    15       RY
693    15       RZ
694   292       UJ
695   292       UK
696   292       UL
697   292       UM
698   130       UN
699   130       UO
700   130       UP
701   130       UQ
702   288       UR
703   288       US
704   288       UT
705   288       UV
706   288       UW
707   288       UX
708   288       UY
709   288       UZ
710   288       EM
711   288       EN
712   288       EO
713    94       V2
714    66       V3
715   249       V4
716   464       V5
717   173       V6
718   168       V7
719   345       V8
720     1       VA
721     1       VB
722     1       VC
723     1       VD
724     1       VE
725     1       VF
726     1       VG
727     1       VO
728     1       VY
729   150       VK
730   150       AX
731   111      VK0
732   153      VK0
733    38     VK9C
734   147     VK9L
735   171     VK9M
736   189     VK9N
737   303     VK9W
738    35     VK9X
739    12     VP2E
740    96     VP2M
741    65     VP2V
742    89      VP5
743   172      VP6
744   513      VP6
745   141      VP8
746   235      VP8
747   235       LU
748   238      VP8
749   238       LU
750   240      VP8
751   240       LU
752   241      VP8
753   241       LU
754   241      CE9
755   241      HF0
756   241      4K1
757    64      VP9
758    33      VQ9
759   321       VR
760   324       VU
761    11      VU4
762   142      VU7
763    50       XA
764    50       XB
765    50       XC
766    50       XD
767    50       XE
768    50       XF
769    50       XG
770    50       XH
771    50       XI
772   204      XA4
773   204      XB4
774   204      XC4
775   204      XD4
776   204      XE4
777   204      XH4
778   204      XI4
779   480       XT
780   312       XU
781   143       XW
782   152      XX9
783   309       XY
784   309       XZ
785     3       YA
786     3       T6
787   327       YB
788   327       YC
789   327       YD
790   327       YE
791   327       YF
792   327       YG
793   327       YH
794   333       YI
795   158       YJ
796   384       YK
797   145       YL
798    86       YN
799    86       H6
800    86       H7
801    86       HT
802   275       YO
803   275       YP
804   275       YQ
805   275       YR
806    74       YS
807    74       HU
808   296       YT
809   296       YU
810   148       YV
811   148       YY
812   148       4M
813    17      YV0
814   452       Z2
815   502       Z3
816   522       Z6
817   521       Z8
818     7       ZA
819   233      ZB2
820   283      ZC4
821   250      ZD7
822   205      ZD8
823   274      ZD9
824    69       ZF
825   270      ZK3
826   170       ZL
827   170       ZM
828    34      ZL7
829   133      ZL8
830    16      ZL9
831   132       ZP
832   462       ZR
833   462       ZS
834   462       ZT
835   462       ZU
836   201      ZS8
837    23
838    93
839     2
840   178       1M
841   178
842   154       4W
843   194      7J1
844   226      8Z4
845    68      8Z5
846    68      9K3
847   210      9S4
848   208      9U5
849   231      AC3
850   231
851   268      AC4
852   268
853   164       C9
854   264      CN2
855    42      CR8
856   101      CR8
857   200      CR8
858   200     CR10
859    81       DA
860    81       DB
861    81       DC
862    81       DD
863    81       DE
864    81       DF
865    81       DG
866    81       DH
867    81       DI
868    81       DJ
869    81       DK
870    81       DL
871    81       DM
872   229       DM
873   229       Y2
874   229       Y3
875   229       Y4
876   229       Y5
877   229       Y6
878   229       Y7
879   229       Y8
880   229       Y9
881   113      EA9
882    59       FF
883    39       FH
884    39      FB8
885    58      FI8
886    67      FN8
887    57      FQ8
888    19      HK0
889   228      HK0
890   228      KP3
891   228      KS4
892   271       I1
893   115       I5
894   184      JZ0
895   134     KH5K
896   193      KR6
897   193        8
898   193      JR6
899   193      KA6
900   261      KS4
901    28      KZ5
902   218       OK
903   218       OL
904   218       OM
905   198       P2
906   198      VK9
907   267       P2
908   267      VK9
909    85       PJ
910   255       PJ
911   119      PK1
912   119      PK2
913   119      PK3
914   258      PK4
915   183      PK5
916    30      PK6
917   151     R1/M
918   244      ST0
919   128      UN1
920   186       VO
921   307      VQ1
922   307      5H1
923    26      VQ6
924     8      VQ9
925    44      VQ9
926    55      VQ9
927   155      VS2
928   155      9M2
929   220      VS4
930   243     VS9A
931   243     VS9P
932   243     VS9S
933   139     VS9H
934   127     VS9K
935    25      ZC5
936   196      ZC6
937   196      4X1
938   102      ZD4
939   493      ZS0
940   493      ZS1
941   488      ZS9

In [13]:
# Now toss the data in sqlite, and manipulate! 
import sqlite3

# Create a new database.  Blank string will create an in-memory database.
db = sqlite3.connect("")

In [14]:
# Toss the data frames into tables
qsodf.to_sql("qso", db, if_exists="replace", index=None)
dxdf.append(deldxdf).to_sql("dx", db, if_exists="replace", index=None)
prefix_code.to_sql("prefix_code", db, if_exists="replace", index=None)

# Add an index on the 'DXCC' column of the qso table:
# db.execute("CREATE INDEX qso_dxcc_idx ON qso(DXCC)") 

# Add an index on the 'Code' column of the dx table:
db.execute("CREATE INDEX dx_code_idx ON dx(Code)") 

db.execute("CREATE INDEX prefix_code_idx ON prefix_code(Prefix)") 

db.execute("DELETE FROM prefix_code where length(prefix) = 0")
db.execute("DELETE FROM prefix_code where Code = 'NaN'")
db.execute("DELETE FROM prefix_code where Prefix = 'None'")

db.commit;

In [15]:
# what entities have I got?  save them by band and mode.

In [16]:
db.execute("drop table if exists worked_codes")

db.execute("""
create table worked_codes as 
select DXCC as code, band, APP_LOTW_MODEGROUP as mode
from qso
where QSL_RCVD = 'Y'
group by 1,2,3
order by 1,2,3
""")

In [17]:
# Curious if there are any VA or VE calls that have confirmed 40M phone: 
pd.read_sql("""select 
CALL ,BAND, FREQ, MODE, APP_LOTW_MODEGROUP, QSO_DATE, QSL_RCVD, APP_LOTW_RXQSL, DXCC
from qso where (call like 'VA%' or call like 'VE%') and mode = 'SSB'
""", db)

,CALL,BAND,FREQ,MODE,APP_LOTW_MODEGROUP,QSO_DATE,QSL_RCVD,APP_LOTW_RXQSL,DXCC
0,VE2MXU,40M,7.26500,SSB,PHONE,2015-06-15 00:00:00,N,None,None
1,VE3JEA,40M,7.26500,SSB,PHONE,2015-06-15 00:00:00,N,None,None
2,VE2MAM,20M,14.33700,SSB,PHONE,2015-12-06 00:00:00,N,None,None
3,VA3EEP,40M,7.25800,SSB,PHONE,2016-01-28 00:00:00,N,None,None
4,VA7LTX,10M,28.44300,SSB,PHONE,2016-01-31 00:00:00,Y,2016-03-10 02:08:28,1
5,VA2MO,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,N,None,None
6,VE6WQ,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,Y,2016-02-06 16:26:05,1
7,VE5X,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,N,None,None
8,VE2JFM/QRP,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,N,None,None
9,VE2JFM,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,N,None,None
10,VE7CV,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,Y,2016-02-01 02:50:10,1
11,VA6FUN,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,N,None,None
12,VE3GFM/P,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,N,None,None
13,VA7AQ,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,Y,2017-03-02 16:50:43,1
14,VE3XN,20M,14.27300,SSB,PHONE,2016-01-31 00:00:00,Y,2017-05-31 19:23:25,1
15,VE3ASE,20M,14.33850,SSB,PHONE,2016-03-07 00:00:00,N,None,None
16,VE7MTW,17M,18.13700,SSB,PHONE,2016-05-14 00:00:00,N,None,None
17,VE1LX,40M,7.25800,SSB,PHONE,2016-09-26 00:00:00,N,None,None
18,VE3FIRE,20M,14.26780,SSB,PHONE,2016-10-09 00:00:00,N,None,None
19,VA3DB,40M,7.26000,SSB,PHONE,2016-11-28 00:00:00,N,None,None
20,VE6RAC,40M,7.18800,SSB,PHONE,2017-11-18 00:00:00,N,None,None
21,VA3EBM,80M,3.74500,SSB,PHONE,2018-01-07 00:00:00,Y,2018-01-08 01:51:24,1
22,VE2DQO,20M,14.30600,SSB,PHONE,2018-01-07 00:00:00,N,None,None
23,VE7ACN,40M,7.18300,SSB,PHONE,2018-02-09 00:00:00,N,None,None
24,VE3YDK,40M,7.17200,SSB,PHONE,2018-09-17 00:00:00,N,None,None
25,VE6LK,40M,7.25600,SSB,PHONE,2018-09-24 00:00:00,N,None,None
26,VE4AQU,40M,7.25600,SSB,PHONE,2018-09-24 00:00:00,N,None,None
27,VE3PJ,15M,21.25295,SSB,PHONE,2020-06-28 00:00:00,Y,2020-06-29 16:55:40,1
28,VE3GPM,15M,21.37903,SSB,PHONE,2020-06-28 00:00:00,N,None,None
29,VE3CWG,15M,21.37903,SSB,PHONE,2020-06-28 00:00:00,N,None,None
30,VE3XNS,20M,14.31000,SSB,PHONE,2021-11-14 00:00:00,Y,2021-11-15 17:25:40,1

In [18]:
# Attempt to answer the question: WHO have I worked, that was in an entity and on a band and mode, that 
# nobody has confirmed?

# Assign a best entity code based on the prefix.  Longer prefix matches have priority over shorter. 

# Lower DX codes have priority over higher, but this may miss entities such as an LU call in the South Sandwich Islands.

# This is a poor method because although Guantanamo Bay is KG4, not all KG4 are Guantanamo Bay. 

res = pd.read_sql("""

with unconfirmed as ( 
  select CALL, BAND, APP_LOTW_MODEGROUP as mode, min(APP_LOTW_QSO_TIMESTAMP) as qso_time
  from qso
  where QSL_RCVD = 'N'
  group by CALL, BAND, APP_LOTW_MODEGROUP
)

, unconfirmed_codes as ( 
    select unconfirmed.CALL, 
    unconfirmed.BAND, 
    unconfirmed.mode,
    qso_time,
    prefix_code.Prefix, 
    prefix_code.Code,
    row_number() over (
        partition by unconfirmed.call, unconfirmed.band, unconfirmed.mode
        order by length(Prefix) desc, prefix_code.Code 
    ) as pref
    from unconfirmed 
    join prefix_code 
    on prefix_code.prefix = substr(unconfirmed.call,1,length(prefix_code.prefix))
    and length(prefix_code.prefix) > 0
)

, unconfirmed_and_needed as ( 
    select * from unconfirmed_codes
    where (band, mode, code) not in (select band, mode, code from worked_codes)
    and code in (select code from dx where deleted = False)
    and pref = 1
)

select u.*, 
dx.entity
from unconfirmed_and_needed u
join dx
on (u.Code = dx.Code)
order by Entity, qso_time desc
limit 1000
""", db)

# show the full list in Jupyter 
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', 100):  # more options can be specified also
    print(res)

          CALL  BAND   mode             qso_time Prefix  Code  pref                    Entity
0        KL7LS   40M  PHONE  2018-09-17 00:42:00     KL     6     1                    Alaska
1       LU7FIN   12M   DATA  2017-11-12 21:18:30     LU   100     1                 Argentina
2        P40DX   40M  PHONE  2015-10-15 01:58:00     P4    91     1                     Aruba
3         P40Z   20M   DATA  2015-08-30 20:47:00     P4    91     1                     Aruba
4       RI1AND   30M   DATA  2017-01-29 01:51:00     RI    15     1            Asiatic Russia
5       VK6KXW   10M   DATA  2016-03-12 00:51:00     VK   150     1                 Australia
6       VK4XJB   10M  PHONE  2015-10-22 00:09:00     VK   150     1                 Australia
7       VK4XJB   10M   DATA  2015-09-28 23:31:00     VK   150     1                 Australia
8        EU3AA   30M   DATA  2015-08-06 02:09:00     EU    27     1                   Belarus
9        ON4PS   17M   DATA  2016-04-09 16:15:00     ON   209     1                   Belgium
10       ON4CM   17M  PHONE  2015-03-14 13:55:00     ON   209     1                   Belgium
11       PY2HJ   40M   DATA  2017-01-21 00:46:00     PY   108     1                    Brazil
12       PP5EI   10M  PHONE  2016-02-27 19:48:00     PP   108     1                    Brazil
13      PU5DTH   40M  PHONE  2015-09-27 23:51:00     PU   108     1                    Brazil
14      VE4AQU   40M  PHONE  2018-09-24 01:02:00     VE     1     1                    Canada
15       VE6LK   40M  PHONE  2018-09-24 00:52:00     VE     1     1                    Canada
16      VE3YDK   40M  PHONE  2018-09-17 00:22:00     VE     1     1                    Canada
17      VE7ACN   40M  PHONE  2018-02-09 00:57:00     VE     1     1                    Canada
18      VE6RAC   40M  PHONE  2017-11-18 02:00:00     VE     1     1                    Canada
19       VA3DB   40M  PHONE  2016-11-28 02:14:00     VA     1     1                    Canada
20       VE1LX   40M  PHONE  2016-09-26 00:20:00     VE     1     1                    Canada
21      VE7MTW   17M  PHONE  2016-05-14 21:32:00     VE     1     1                    Canada
22      VA3EEP   40M  PHONE  2016-01-28 22:15:00     VA     1     1                    Canada
23      VE3JEA   40M  PHONE  2015-06-15 01:57:00     VE     1     1                    Canada
24      VE2MXU   40M  PHONE  2015-06-15 01:14:00     VE     1     1                    Canada
25      HK2PMR   20M   DATA  2015-09-20 20:07:00     HK   116     1                  Colombia
26       TI8II   20M  PHONE  2017-12-17 23:30:00     TI   308     1                Costa Rica
27       TI4DJ   17M   DATA  2016-05-18 00:03:00     TI   308     1                Costa Rica
28      CM2FRB   15M  PHONE  2016-10-21 00:14:00     CM    70     1                      Cuba
29  HI8/KB1KKE   40M   DATA  2017-01-23 00:56:00     HI    72     1        Dominican Republic
30       HI8RD   17M  PHONE  2017-01-21 22:10:00     HI    72     1        Dominican Republic
31       HC5AI   10M  PHONE  2016-02-27 19:50:00     HC   120     1                   Ecuador
32       M2EON   20M  PHONE  2018-09-29 20:10:00      M   223     1                   England
33      KG4WXU   40M  PHONE  2021-11-14 22:10:00    KG4   105     1            Guantanamo Bay
34      KG4NDS   15M  PHONE  2020-06-27 22:56:38    KG4   105     1            Guantanamo Bay
35      KG4TPM   40M  PHONE  2018-02-25 00:39:00    KG4   105     1            Guantanamo Bay
36      KG4NJA   40M  PHONE  2017-12-17 01:55:00    KG4   105     1            Guantanamo Bay
37      KG4UVU   40M  PHONE  2016-11-06 12:13:00    KG4   105     1            Guantanamo Bay
38      KG4FSE   30M   DATA  2016-05-06 23:41:00    KG4   105     1            Guantanamo Bay
39      KG4WKG   40M  PHONE  2016-01-22 13:43:00    KG4   105     1            Guantanamo Bay
40       KG4WV   10M  PHONE  2015-10-15 20:11:00    KG4   105     1            Guantanamo Bay
41      TG9AHM   17M  PHONE  2016-02-20 22:41:00     TG    76     1                 Guatemala
42        KH7B   15M  PHONE  2017-07-08 19:22:00    KH7   110     1                    Hawaii
43      HQ2ALJ   10M  PHONE  2015-04-09 00:33:00     HQ    80     1                  Honduras
44       TF3ML   10M  PHONE  2015-10-01 22:33:00     TF   242     1                   Iceland
45       EI4KF   20M   DATA  2017-07-04 19:15:00     EI   245     1                   Ireland
46      EI7GSB   20M   DATA  2016-06-17 23:49:00     EI   245     1                   Ireland
47       I8QLS   20M  PHONE  2017-01-21 13:49:00      I   248     1                     Italy
48        IO2X   15M  PHONE  2016-10-29 14:26:00      I   248     1                     Italy
49      IT9CCB   30M   DATA  2016-05-07 02:13:00      I   248     1                     Italy
50      IW2OCY   30M   DATA  2016-05-06 23:33:00      I   248     1                     Italy
51      IW3IBK   17M  PHONE  2016-02-20 15:03:00      I   248     1                     Italy
52        6Y6Y   17M  PHONE  2017-01-07 19:15:00     6Y    82     1                   Jamaica
53       JA1CG   20M  PHONE  2015-07-19 13:20:00     JA   339     1                     Japan
54      GJ3YHU   17M   DATA  2017-06-11 01:05:00     GJ   122     1                    Jersey
55    XE1/W5FG   17M  PHONE  2015-03-09 00:14:00     XE    50     1                    Mexico
56       FK8HN   17M   DATA  2016-05-22 22:57:00     FK   162     1             New Caledonia
57      YN1ECF   20M   DATA  2019-09-02 18:16:45     YN    86     1                 Nicaragua
58   YN/TG9IIN   30M   DATA  2016-05-07 00:45:00     YN    86     1                 Nicaragua
59       E51BQ   10M   DATA  2020-05-01 01:46:15     E5   191     1            North Cook Is.
60      HP9SAM   17M  PHONE  2017-12-30 23:16:00     HP    88     1                    Panama
61       KP4WQ   20M  PHONE  2018-01-21 18:35:00    KP4   202     1               Puerto Rico
62       YU1RH   20M   DATA  2017-07-16 23:40:00     YU   296     1                    Serbia
63      ZS6LKF   15M   DATA  2019-11-25 16:16:00     ZS   462     1              South Africa
64      SM6MNS   15M   DATA  2015-11-22 15:05:00     SM   284     1                    Sweden
65       UX7LT   20M   DATA  2016-01-09 13:50:00     UX   288     1                   Ukraine
66      KA5MGL    6M  PHONE  2020-08-22 02:18:00      K   291     1  United States of America
67       KJ5HA  160M  PHONE  2018-02-12 01:05:00      K   291     1  United States of America
68       KQ4ZH   20M  IMAGE  2016-01-10 21:50:00      K   291     1  United States of America
69       YV5ZV   12M   DATA  2021-07-03 18:15:30     YV   148     1                 Venezuela
70      YV5ENI   20M  PHONE  2016-08-27 14:05:00     YV   148     1                 Venezuela
71      YV5ENI   17M  PHONE  2016-03-13 14:57:00     YV   148     1                 Venezuela
72       KP2BH   20M   DATA  2021-07-04 01:26:45    KP2   285     1                Virgin Is.
73      GW4MBN   17M   DATA  2016-04-09 14:55:00     GW   294     1                     Wales

In [19]:
# save it as a spreadsheet because some people like that. 

res.to_excel('would_be_nice_if_confirmed.xlsx')

In [22]:
# Same query, but this time ignore band and mode, and just see who is an a DX entity that I've logged for which
# nobody else has confirmed. 

# Also, toss the KG4 prefix since I am sure those are false hits.

res = pd.read_sql("""

with unconfirmed as ( 
  select CALL, BAND, APP_LOTW_MODEGROUP as mode, min(APP_LOTW_QSO_TIMESTAMP) as qso_time
  from qso
  where QSL_RCVD = 'N'
  group by CALL, BAND, APP_LOTW_MODEGROUP
)

, unconfirmed_codes as ( 
    select unconfirmed.CALL, 
    unconfirmed.BAND, 
    unconfirmed.mode,
    qso_time,
    prefix_code.Prefix, 
    prefix_code.Code,
    row_number() over (
        partition by unconfirmed.call, unconfirmed.band, unconfirmed.mode
        order by length(Prefix) desc, prefix_code.Code 
    ) as pref
    from unconfirmed 
    join prefix_code 
    on prefix_code.prefix = substr(unconfirmed.call,1,length(prefix_code.prefix))
    and length(prefix_code.prefix) > 0
)

, unconfirmed_and_needed as ( 
    select * from unconfirmed_codes
    where code not in (select code from worked_codes)
    and code in (select code from dx where deleted = False)
    and pref = 1
    and Prefix != 'KG4'
)

select u.*, 
dx.entity
from unconfirmed_and_needed u
join dx
on (u.Code = dx.Code)
order by qso_time desc
limit 1000
""", db)

# show the full list in Jupyter 
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', 100):  # more options can be specified also
    print(res)

        CALL BAND   mode             qso_time Prefix  Code  pref     Entity
0     YN1ECF  20M   DATA  2019-09-02 18:16:45     YN    86     1  Nicaragua
1      YU1RH  20M   DATA  2017-07-16 23:40:00     YU   296     1     Serbia
2     GJ3YHU  17M   DATA  2017-06-11 01:05:00     GJ   122     1     Jersey
3       6Y6Y  17M  PHONE  2017-01-07 19:15:00     6Y    82     1    Jamaica
4  YN/TG9IIN  30M   DATA  2016-05-07 00:45:00     YN    86     1  Nicaragua
5     GW4MBN  17M   DATA  2016-04-09 14:55:00     GW   294     1      Wales
6      P40DX  40M  PHONE  2015-10-15 01:58:00     P4    91     1      Aruba
7       P40Z  20M   DATA  2015-08-30 20:47:00     P4    91     1      Aruba
8      EU3AA  30M   DATA  2015-08-06 02:09:00     EU    27     1    Belarus