## dx_needed notebook

Instructions:  Go get a report from https://www.rickmurphy.net/lotwquery.htm
Enter your call sign and nothing else.

In [1]:
## Download a report from LOTW.  Put the file name here. 

lotw_report = "lotwreport.adi"

In [2]:
## using project https://pypi.org/project/adif-io/ to parse the report. 
!pip install adif-io
## if you want the results as a spreadsheet, you need this: 
!pip install openpyxl

Requirement already satisfied: adif-io in /home/lemley/.local/lib/python3.8/site-packages (0.0.3)
Requirement already satisfied: openpyxl in /home/lemley/.local/lib/python3.8/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /home/lemley/.local/lib/python3.8/site-packages (from openpyxl) (1.1.0)

In [3]:
## use pandas for basic data handling: 
import pandas as pd 

# use the adif-io project from https://pypi.org/project/adif-io/
import adif_io

qsos_raw, adif_header = adif_io.read_from_file(lotw_report)

# The QSOs are probably sorted by QSO time already, but make sure:
qsos_raw_sorted = sorted(qsos_raw, key = lambda qso: qso["APP_LOTW_QSO_TIMESTAMP"])

In [4]:
qsodf = pd.DataFrame(qsos_raw_sorted)

In [5]:
# fix up some dates. 
qsodf['QSO_DATE'] = pd.to_datetime(qsodf['QSO_DATE'])
qsodf['APP_LOTW_RXQSO'] = pd.to_datetime(qsodf['APP_LOTW_RXQSO'])
qsodf['APP_LOTW_QSO_TIMESTAMP'] = pd.to_datetime(qsodf['APP_LOTW_QSO_TIMESTAMP']).dt.tz_localize(None)
qsodf['QSLRDATE'] = pd.to_datetime(qsodf['QSLRDATE'])
qsodf['APP_LOTW_RXQSL'] = pd.to_datetime(qsodf['APP_LOTW_RXQSL'])

# we will use this to join to DX list:
qsodf['DXCC'] = qsodf['DXCC'].astype(int)

qsodf.dtypes

APP_LOTW_OWNCALL                          object
STATION_CALLSIGN                          object
MY_DXCC                                   object
MY_COUNTRY                                object
APP_LOTW_MY_DXCC_ENTITY_STATUS            object
MY_GRIDSQUARE                             object
MY_STATE                                  object
MY_CNTY                                   object
MY_CQ_ZONE                                object
MY_ITU_ZONE                               object
CALL                                      object
BAND                                      object
FREQ                                      object
MODE                                      object
APP_LOTW_MODEGROUP                        object
QSO_DATE                          datetime64[ns]
APP_LOTW_RXQSO                    datetime64[ns]
TIME_ON                                   object
APP_LOTW_QSO_TIMESTAMP            datetime64[ns]
QSL_RCVD                                  object
QSLRDATE                          datetime64[ns]
APP_LOTW_RXQSL                    datetime64[ns]
DXCC                                       int64
COUNTRY                                   object
APP_LOTW_DXCC_ENTITY_STATUS               object
PFX                                       object
APP_LOTW_2XQSL                            object
GRIDSQUARE                                object
STATE                                     object
CNTY                                      object
CQZ                                       object
APP_LOTW_CQZ_INFERRED                     object
ITUZ                                      object
APP_LOTW_ITUZ_INFERRED                    object
APP_LOTW_MODE                             object
APP_LOTW_QSLMODE                          object
IOTA                                      object
APP_LOTW_CQZ_INVALID                      object
APP_LOTW_ITUZ_INVALID                     object
APP_LOTW_NPSUNIT                          object
APP_LOTW_MY_NPSUNIT                       object
APP_LOTW_MY_CQ_ZONE_INFERRE               object
APP_LOTW_GRIDSQUARE_INVALID               object
MY_VUCC_GRIDS                             object
SUBMODE                                   object
dtype: object

In [6]:
# save it as a spreadsheet because some people like that. 
qsodf.to_excel('qsos.xlsx')

In [7]:
# review some interesting columns: 

qsodf[['APP_LOTW_OWNCALL', 
       #'STATION_CALLSIGN', 
       #'MY_DXCC', 
       #'MY_COUNTRY',
       #'APP_LOTW_MY_DXCC_ENTITY_STATUS', 
       #'MY_GRIDSQUARE', 
       #'MY_STATE',
       #'MY_CNTY', 
       #'MY_CQ_ZONE', 
       #'MY_ITU_ZONE', 
       'CALL', 'BAND', 'FREQ', 'MODE',
       'APP_LOTW_MODEGROUP', 'QSO_DATE', 'APP_LOTW_RXQSO',
       #'TIME_ON',
       'APP_LOTW_QSO_TIMESTAMP', 'QSL_RCVD', 'QSLRDATE', 'APP_LOTW_RXQSL',
       'DXCC', 'COUNTRY', 'APP_LOTW_DXCC_ENTITY_STATUS', 'PFX',
       #'APP_LOTW_2XQSL', 
       #'GRIDSQUARE', 
       #'STATE', 'CNTY', 
       #'CQZ',
       #'APP_LOTW_CQZ_INFERRED', 'ITUZ', 'APP_LOTW_ITUZ_INFERRED', 
       #'APP_LOTW_MODE', 'APP_LOTW_QSLMODE', 'IOTA', 'APP_LOTW_CQZ_INVALID',
       #'APP_LOTW_ITUZ_INVALID', 'APP_LOTW_NPSUNIT', 'APP_LOTW_MY_NPSUNIT',
       #'APP_LOTW_MY_CQ_ZONE_INFERRE', 'APP_LOTW_GRIDSQUARE_INVALID',
       #'MY_VUCC_GRIDS', 'SUBMODE'
      ]]

,APP_LOTW_OWNCALL,CALL,BAND,FREQ,MODE,APP_LOTW_MODEGROUP,QSO_DATE,APP_LOTW_RXQSO,APP_LOTW_QSO_TIMESTAMP,QSL_RCVD,QSLRDATE,APP_LOTW_RXQSL,DXCC,COUNTRY,APP_LOTW_DXCC_ENTITY_STATUS,PFX
0,K5DRU,W7BWI,20M,14.07355,OLIVIA,DATA,2014-11-01,2016-11-29 12:06:06,2014-11-01 15:33:00,Y,2016-11-29,2016-11-29 12:06:06,291,UNITED STATES OF AMERICA,Current,W7
1,K5DRU,VE7NBQ,10M,28.12337,DATA,DATA,2014-11-01,2016-11-29 12:06:06,2014-11-01 22:37:00,Y,2016-11-29,2016-11-29 12:06:06,1,CANADA,Current,VE7
2,K5DRU,W8HF,20M,14.07294,DATA,DATA,2014-12-15,2016-11-29 12:06:07,2014-12-15 01:58:00,Y,2016-11-29,2016-11-29 12:06:07,291,UNITED STATES OF AMERICA,Current,W8
3,K5DRU,KM4CQG,20M,14.07058,HELL,DATA,2015-01-01,2016-11-29 12:06:07,2015-01-01 17:02:00,Y,2016-11-29,2016-11-29 12:06:07,291,UNITED STATES OF AMERICA,Current,KM4
4,K5DRU,AE5NW,10M,28.07560,OLIVIA,DATA,2015-01-10,2016-11-29 12:06:07,2015-01-10 23:17:00,Y,2016-11-29,2016-11-29 12:06:07,291,UNITED STATES OF AMERICA,Current,AE5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,K5DRU,N0AW,12M,24.91724,FT8,DATA,2022-05-25,2022-05-25 01:01:12,2022-05-25 00:52:45,Y,2022-05-25,2022-05-25 01:01:12,291,UNITED STATES OF AMERICA,Current,N0
1710,K5DRU,W8NK,12M,24.91724,FT8,DATA,2022-05-25,2022-05-25 01:01:12,2022-05-25 00:55:45,Y,2022-05-25,2022-05-25 01:35:06,291,UNITED STATES OF AMERICA,Current,W8
1711,K5DRU,N7BT,12M,24.91724,FT8,DATA,2022-05-25,2022-05-25 01:01:12,2022-05-25 00:56:45,Y,2022-05-25,2022-05-25 21:31:09,291,UNITED STATES OF AMERICA,Current,N7
1712,K5DRU,KF6JXM,12M,24.91733,FT8,DATA,2022-05-25,2022-05-25 01:14:11,2022-05-25 01:04:30,Y,2022-05-25,2022-05-25 05:00:17,291,UNITED STATES OF AMERICA,Current,KF6
1713,K5DRU,AG5JU,10M,28.07550,FT8,DATA,2022-05-25,2022-05-25 02:25:25,2022-05-25 02:21:00,Y,2022-05-25,2022-05-25 02:25:25,291,UNITED STATES OF AMERICA,Current,AG5

In [8]:
## Get table of DX codes and their descriptive names

In [9]:
# heck, we can just read the fixed-format file from http://www.arrl.org/files/file/DXCC/2018_Current_Deleted.txt

# warning: I'm hard-coding where to start and stop the list.  If the list is updated, this will break.
dxdf = pd.read_fwf('http://www.arrl.org/files/file/DXCC/2018_Current_Deleted.txt', 
                colspecs='infer', 
                widths=None, 
                skiprows=19,
                infer_nrows=340, 
                nrows=340,
                names=["Prefix","Entity","Continent","ITU","CQ","Code"])


dxdf['Code']=dxdf['Code'].astype(int)

dxdf['Deleted']=False

dxdf

,Prefix,Entity,Continent,ITU,CQ,Code,Deleted
0,(1),Spratly Is.,AS,50,26,247,False
1,1A(1),Sovereign Military Order of Malta,EU,28,15,246,False
2,3A*,Monaco,EU,27,14,260,False
3,"3B6,7",Agalega & St. Brandon Is.,AF,53,39,4,False
4,3B8,Mauritius,AF,53,39,165,False
...,...,...,...,...,...,...,...
335,ZL8*,Kermadec Is.,OC,60,32,133,False
336,ZL9*,New Zealand Subantarctic Islands,OC,60,32,16,False
337,ZP#*,Paraguay,SA,14,11,132,False
338,ZR-ZU#*,South Africa,AF,57,38,462,False
339,ZS8*,Prince Edward & Marion Is.,AF,57,38,201,False

In [10]:
# the deleted entities list is in the same file further down

deldxdf = pd.read_fwf('http://www.arrl.org/files/file/DXCC/2018_Current_Deleted.txt', 
                colspecs='infer', 
                widths=None, 
                skiprows=441,
                infer_nrows=62, 
                nrows=62,
                names=["Prefix","Entity","Continent","ITU","CQ","Code"])

deldxdf['Code']=deldxdf['Code'].astype(int)

deldxdf['Deleted']=True


deldxdf

         Prefix                Entity Continent ITU  CQ  Code  Deleted
0           (2)         Blenheim Reef        AF  41  39    23     True
1           (3)           Geyser Reef        AF  53  39    93     True
2           (4)           Abu Ail Is.        AS  39  21     2     True
3     1M(1),(5)          Minerva Reef        OC  62  32   178     True
4         4W(6)   Yemen Arab Republic        AS  39  21   154     True
..          ...                   ...       ...  ..  ..   ...      ...
57      ZC5(44)  British North Borneo        OC  54  28    25     True
58  ZC6,4X1(48)             Palestine        AS  39  20   196     True
59      ZD4(49)  Gold Coast, Togoland        AF  46  35   102     True
60    ZS0,1(50)           Penguin Is.        AF  57  38   493     True
61      ZS9(51)            Walvis Bay        AF  57  38   488     True

[62 rows x 7 columns]

In [11]:
# Now toss the data in sqlite, and manipulate! 
import sqlite3

# Create a new in-memory database
db = sqlite3.connect("")

# Toss the data frames into tables
qsodf.to_sql("qso", db, if_exists="append", index=None)
dxdf.to_sql("dx", db, if_exists="append", index=None)
deldxdf.to_sql("dx", db, if_exists="append", index=None)


# Add an index on the 'DXCC' column of the qso table:
db.execute("CREATE INDEX qso_dxcc_idx ON qso(DXCC)") 

# Add an index on the 'Code' column of the dx table:
db.execute("CREATE INDEX dx_code_idx ON dx(Code)")

In [19]:
# what entities have I got?

gotdf = pd.read_sql("""
select * from dx where Code in (select DXCC from qso where QSL_RCVD = 'Y')
order by Continent, Code
""", db)

# show the full list in Jupyter 
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', 100):  # more options can be specified also
    print(gotdf)

             Prefix                       Entity Continent    ITU     CQ  Code  Deleted
0     VA-VG,VO,VY#*                       Canada      None    (H)  01-05     1        0
1     KL,AL,NL,WL#*                       Alaska      None  01,02     01     6        0
2          VP2E(37)                     Anguilla      None     11     08    12        0
3           XA-XI#*                       Mexico      None     10     06    50        0
4                C6                      Bahamas      None     11     08    60        0
5               8P*                     Barbados      None     11     08    62        0
6              VP9*                      Bermuda      None     11     05    64        0
7               V3#                       Belize      None     11     07    66        0
8               ZF*                   Cayman Is.      None     11     08    69        0
9           CM,CO#*                         Cuba      None     11     08    70        0
10             HI#*           Dominican Republic      None     11     08    72        0
11          TG,TD#*                    Guatemala      None     12     07    76        0
12              HH#                        Haiti      None     11     08    78        0
13          HQ,HR#*                     Honduras      None     11     07    80        0
14          HO,HP#*                       Panama      None     11     07    88        0
15             J7#*                     Dominica      None     11     08    95        0
16             J6#*                    St. Lucia      None     11     08    97        0
17          KP3,4#*                  Puerto Rico      None     11     08   202        0
18            KP2#*                   Virgin Is.      None     11     08   285        0
19     K,W,N,AA-AK#     United States of America      None  06-08  03-05   291        0
20          TI,TE#*                   Costa Rica      None     11     07   308        0
21          PJ7(53)                   St Maarten      None     11     08   518        0
22         EA8-EH8*                   Canary Is.        AF     36     33    29        0
23               3X                       Guinea        AF     46     35   107        0
24             CT3*                  Madeira Is.        AF     36     33   256        0
25               D4                   Cape Verde        AF     46     35   409        0
26          9G(7)#*                        Ghana        AF     46     35   424        0
27           5Y,5Z*                        Kenya        AF     48     37   430        0
28           FR,TO*                   Reunion I.        AF     53     39   453        0
29          ZR-ZU#*                 South Africa        AF     57     38   462        0
30        CE9/KC4^*                   Antarctica        AN    (B)    (C)    13        0
31  UA-UI8-0,RA-RZ*               Asiatic Russia        AS    (F)    (G)    15        0
32           UN-UQ*                   Kazakhstan        AS  29-31     17   130        0
33          4X,4Z#*                       Israel        AS     39     20   336        0
34     JA-JS,7J-7N*                        Japan        AS     45     25   339        0
35         EA6-EH6*                 Balearic Is.        EU     37     14    21        0
36  UA-UI1-7,RA-RZ*              European Russia        EU    (E)     16    54        0
37           GU,GP*                     Guernsey        EU     27     14   106        0
38              LY*                    Lithuania        EU     29     15   146        0
39              CU*                       Azores        EU     36     14   149        0
40             OE#*                      Austria        EU     28     15   206        0
41           ON-OT*                      Belgium        EU     27     14   209        0
42              LZ*                     Bulgaria        EU     28     20   212        0
43        OU-OW,OZ*                      Denmark        EU     18     14   221        0
44          G,GX,M*                      England        EU     27     14   223        0
45         IS0,IM0*                     Sardinia        EU     28     15   225        0
46               F*                       France        EU     27     14   227        0
47       DA-DR(14)*  Federal Republic of Germany        EU     28     14   230        0
48        SV-SZ,J4*                       Greece        EU     28     20   236        0
49           HA,HG*                      Hungary        EU     28     15   239        0
50              TF*                      Iceland        EU     17     40   242        0
51           EI,EJ*                      Ireland        EU     27     14   245        0
52               I*                        Italy        EU     28  15,33   248        0
53              LX*                   Luxembourg        EU     27     14   254        0
54           PA-PI*                  Netherlands        EU     27     14   263        0
55           GI,GN*             Northern Ireland        EU     27     14   265        0
56           LA-LN*                       Norway        EU     18     14   266        0
57           SN-SR*                       Poland        EU     28     15   269        0
58              CT*                     Portugal        EU     37     14   272        0
59           YO-YR*                      Romania        EU     28     20   275        0
60           GM,GS*                     Scotland        EU     27     14   279        0
61           EA-EH*                        Spain        EU     37     14   281        0
62     SA-SM,7S,8S*                       Sweden        EU     18     14   284        0
63              HB*                  Switzerland        EU     28     14   287        0
64     UR-UZ,EM-EO*                      Ukraine        EU     29     16   288        0
65           9A(6)*                      Croatia        EU     28     15   497        0
66           S5(6)*                     Slovenia        EU     28     15   499        0
67         E7(29)#*           Bosnia-Herzegovina        EU     28     15   501        0
68       OK-OL(23)*               Czech Republic        EU     28     15   503        0
69          OM(23)*              Slovak Republic        EU     28     15   504        0
70          4O(47)*                   Montenegro        EU     28     15   514        0
71          KH6,7#*                       Hawaii        OC     61     31   110        0
72          VK,AX#*                    Australia        OC    (I)  29,30   150        0
73           FK,TX*                New Caledonia        OC     56     32   162        0
74           ZL-ZM*                  New Zealand        OC     60     32   170        0
75             3D2*                         Fiji        OC     56     32   176        0
76               E5               North Cook Is.        OC     62     32   191        0
77               E5               South Cook Is.        OC     62     32   234        0
78           T2(28)                       Tuvalu        OC     65     31   282        0
79          9Y,9Z#*            Trinidad & Tobago        SA     11     09    90        0
80          LO-LW#*                    Argentina        SA  14,16     13   100        0
81             CP#*                      Bolivia        SA  12,14     10   104        0
82    PP-PY,ZV-ZZ#*                       Brazil        SA    (D)     11   108        0
83          CA-CE#*                        Chile        SA  14,16     12   112        0
84    HJ,HK,5J,5K#*                     Colombia        SA     12     09   116        0
85          HC,HD#*                      Ecuador        SA     12     10   120        0
86             ZP#*                     Paraguay        SA     14     11   132        0
87          OA-OC#*                         Peru        SA     12     10   136        0
88          CV-CX#*                      Uruguay        SA     14     13   144        0
89       YV-YY,4M#*                    Venezuela        SA     12     09   148        0
90          PJ2(50)                      Curacao        SA     11     09   517        0
91          PJ4(51)                      Bonaire        SA     11     09   520        0

In [20]:
# what entities could I still get? 

needdf= pd.read_sql("""
select * from dx where Code NOT in (select DXCC from qso where QSL_RCVD = 'Y')
and Deleted = False
order by Continent, Code
""", db)

# show the full list in Jupyter 
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', 100):  # more options can be specified also
    print(needdf)

                  Prefix                             Entity Continent    ITU     CQ  Code  Deleted
0                  YV0#*                            Aves I.      None     11     08    17        0
1                 FO,TX*                      Clipperton I.      None     10     07    36        0
2                  TI9#*                           Cocos I.      None     12     07    37        0
3               KP5(22)#                        Desecheo I.      None     11     08    43        0
4              VP2V(37)*                 British Virgin Is.      None     11     08    65        0
5                YS,HU#*                        El Salvador      None     11     07    74        0
6                   J3#*                            Grenada      None     11     08    77        0
7                 FG,TO*                         Guadeloupe      None     11     08    79        0
8                   6Y#*                            Jamaica      None     11     08    82        0
9                 FM,TO*                         Martinique      None     11     08    84        0
10          YN,H6-7,HT#*                          Nicaragua      None     11     07    86        0
11                  VP5*                 Turks & Caicos Is.      None     11     08    89        0
12                  V2#*                  Antigua & Barbuda      None     11     08    94        0
13              VP2M(37)                         Montserrat      None     11     08    96        0
14                   J8#                        St. Vincent      None     11     08    98        0
15                  KG4#                     Guantanamo Bay      None     11     08   105        0
16                  KP1#                         Navassa I.      None     11     08   182        0
17             XA4-XI4#*                      Revillagigedo      None     10     06   204        0
18                  CY0*                           Sable I.      None     09     05   211        0
19                FS,TO*                       Saint Martin      None     11     08   213        0
20                 HK0#*           San Andres & Providencia      None     11     07   216        0
21                   OX*                          Greenland      None  05,75     40   237        0
22               V4(37)#                  St. Kitts & Nevis      None     11     08   249        0
23                  CY9*                        St. Paul I.      None     09     05   252        0
24                   FP*              St. Pierre & Miquelon      None     09     05   277        0
25                4U_UN*                  United Nations HQ      None     08     05   289        0
26            FJ,TO(49)*                   Saint Barthelemy      None     11     08   516        0
27             PJ5,6(52)               Saba & St. Eustatius      None     11     08   519        0
28                 3B6,7          Agalega & St. Brandon Is.        AF     53     39     4        0
29                 FT/Z*           Amsterdam & St. Paul Is.        AF     68     39    10        0
30                   3Y*                             Bouvet        AF     67     38    24        0
31              EA9-EH9*                    Ceuta & Melilla        AF     37     33    32        0
32                  VQ9*                         Chagos Is.        AF     41     39    33        0
33                 FT/W*                          Crozet I.        AF     68     39    41        0
34                    3C                  Equatorial Guinea        AF     47     36    49        0
35                E3(15)                            Eritrea        AF     48     37    51        0
36                   ET*                           Ethiopia        AF     48     37    53        0
37          FT/G,TO(17)*                       Glorioso Is.        AF     53     39    99        0
38                    J5                      Guinea-Bissau        AF     46     35   109        0
39                 VK0#*                           Heard I.        AF     68     39   111        0
40        FT/J,E,TO(17)*               Juan de Nova, Europa        AF     53     39   124        0
41                 FT/X*                      Kerguelen Is.        AF     68     39   131        0
42                   3B8                          Mauritius        AF     53     39   165        0
43            FH,TO(13)*                            Mayotte        AF     53     39   169        0
44                C8,C9*                         Mozambique        AF     53     37   181        0
45                 5U(3)                              Niger        AF     46     35   187        0
46                   3C0                         Annobon I.        AF     52     36   195        0
47                  ZS8*         Prince Edward & Marion Is.        AF     57     38   201        0
48                  ZD8*                       Ascension I.        AF     66     36   205        0
49                   3B9                       Rodrigues I.        AF     53     39   207        0
50                    S9                Sao Tome & Principe        AF     47     36   219        0
51                 T5,6O                            Somalia        AF     48     37   232        0
52                  ZD7*                         St. Helena        AF     66     36   250        0
53                   ZD9        Tristan da Cunha & Gough I.        AF     66     38   274        0
54              FT/T,TO*                        Tromelin I.        AF     53     39   276        0
55                   5X*                             Uganda        AF     48     37   286        0
56            S0(1),(27)                     Western Sahara        AF     46     33   302        0
57                    S7                         Seychelles        AF     53     39   379        0
58                   J2*                           Djibouti        AF     48     37   382        0
59                7T-7Y*                            Algeria        AF     37     33   400        0
60                 D2,D3                             Angola        AF     52     36   401        0
61                   A2*                           Botswana        AF     57     38   402        0
62                 9U(9)                            Burundi        AF     52     36   404        0
63                    TJ                           Cameroon        AF     47     36   406        0
64                TL(30)                     Central Africa        AF     47     36   408        0
65                TT(33)                               Chad        AF     47     36   410        0
66              D6#*(13)                            Comoros        AF     53     39   411        0
67                TN(31)              Republic of the Congo        AF     52     36   412        0
68                9Q-9T*   Democratic Republic of the Congo        AF     52     36   414        0
69                TY(35)                              Benin        AF     46     35   416        0
70               TR(32)*                              Gabon        AF     52     36   420        0
71                   C5#                         The Gambia        AF     46     35   422        0
72                TU(34)                      Cote d'Ivoire        AF     46     35   428        0
73                    7P                            Lesotho        AF     57     38   432        0
74                  EL#*                            Liberia        AF     46     35   434        0
75                    5A                              Libya        AF     38     34   436        0
76                    5R                         Madagascar        AF     53     39   438        0
77                    7Q                             Malawi        AF     53     37   440        0
78               TZ(36)*                               Mali        AF     46     35   442        0
79                 5T(2)                         Mauritania        AF     46     35   444        0
80                    CN                            Morocco        AF     37     33   446        0
81                   5N*                            Nigeria        AF     46     35   450        0
82                    Z2                           Zimbabwe        AF     53     38   452        0
83                 9X(9)                             Rwanda        AF     52     36   454        0
84             6V,6W(4)*                            Senegal        AF     46     35   456        0
85                   9L#                       Sierra Leone        AF     46     35   458        0
86                   V5*                            Namibia        AF     57     38   464        0
87                    ST                              Sudan        AF  47,48     34   466        0
88                  3DA#                          Swaziland        AF     57     38   468        0
89                5H,5I*                           Tanzania        AF     53     37   470        0
90                   3V*                            Tunisia        AF     37     33   474        0
91                    SU                              Egypt        AF     38     34   478        0
92               XT(39)*                       Burkina Faso        AF     46     35   480        0
93                9I,9J*                             Zambia        AF     53     36   482        0
94                    5V                               Togo        AF     46     35   483        0
95                Z8(54)          South Sudan (Republic of)        AF     48     34   521        0
96                   3Y*                         Peter 1 I.        AN     72     12   199        0
97                 YA,T6                        Afghanistan        AS     40     21     3        0
98                  VU4*              Andaman & Nicobar Is.        AS     49     26    11        0
99                   EK*                            Armenia        AS     29     21    14        0
100                4J,4K                         Azerbaijan        AS     29     21    18        0
101                  4L*                            Georgia        AS     29     21    75        0
102                  EX*                         Kyrgyzstan        AS  30,31     17   135        0
103            HL,6K-6N*                  Republic of Korea        AS     44     25   137        0
104                 VU7*                    Lakshadweep Is.        AS     41     22   142        0
105                   XW                               Laos        AS     49     26   143        0
106                 XX9*                              Macao        AS     44     24   152        0
107             JD1(20)*                          Ogasawara        AS     45     27   192        0
108            5B,C4,P3*                             Cyprus        AS     39     20   215        0
109                  (1)                        Spratly Is.        AS     50     26   247        0
110                  EY*                         Tajikistan        AS     30     17   262        0
111                  EZ*                       Turkmenistan        AS     30     17   280        0
112             ZC4(42)*  UK Sovereign Base Areas on Cyprus        AS     39     20   283        0
113                UJ-UM                         Uzbekistan        AS     30     17   292        0
114                3W,XV                           Viet Nam        AS     49     26   293        0
115            9M2,4(8)*                      West Malaysia        AS     54     28   299        0
116                  A9*                            Bahrain        AS     39     21   304        0
117                  S2*                         Bangladesh        AS     41     22   305        0
118                   A5                             Bhutan        AS     41     22   306        0
119                XY,XZ                            Myanmar        AS     49     26   309        0
120                   XU                           Cambodia        AS     49     26   312        0
121                  4S*                          Sri Lanka        AS     41     22   315        0
122                   B*                              China        AS    (A)  23,24   318        0
123                  VR*                          Hong Kong        AS     44     24   321        0
124                  VU*                              India        AS     41     22   324        0
125               EP,EQ*                               Iran        AS     40     21   330        0
126                  YI*                               Iraq        AS     39     21   333        0
127                 JY#*                             Jordan        AS     39     20   342        0
128               P5(26)  Democratic People's Rep. of Korea        AS     44     25   344        0
129                  9K*                             Kuwait        AS     39     21   348        0
130                  OD*                            Lebanon        AS     39     20   354        0
131               JT-JV*                           Mongolia        AS  32,33     23   363        0
132                   9N                              Nepal        AS     42     22   369        0
133                  A4*                               Oman        AS     39     21   370        0
134                  AP*                           Pakistan        AS     41     21   372        0
135                  A7*                              Qatar        AS     39     21   376        0
136                  HZ*                       Saudi Arabia        AS     39     21   378        0
137              9V(10)*                          Singapore        AS     54     28   381        0
138                  YK*                              Syria        AS     39     20   384        0
139               BU-BX*                             Taiwan        AS     44     24   386        0
140               HS,E2*                           Thailand        AS     49     26   387        0
141                   A6               United Arab Emirates        AS     39     21   391        0
142                7O(5)                              Yemen        AS     39     21   492        0
143             BV9P(12)                          Pratas I.        AS     44     24   505        0
144              BS7(11)                   Scarborough Reef        AS     50     27   506        0
145               E4(43)                          Palestine        AS     39     20   510        0
146                   8Q                           Maldives     AS,AF     41     22   159        0
147                 OH0*                          Aland Is.        EU     18     15     5        0
148                   ZA                            Albania        EU     28     15     7        0
149               EU-EW*                            Belarus        EU     29     16    27        0
150             SV9,J49*                              Crete        EU     28     20    40        0
151             SV5,J45*                         Dodecanese        EU     28     20    45        0
152                  ES*                            Estonia        EU     29     15    52        0
153                R1/F*                   Franz Josef Land        EU     75     40    61        0
154               GD,GT*                        Isle of Man        EU     27     14   114        0
155             4U_ITU#*                             ITU HQ        EU     28     14   117        0
156                  JX*                          Jan Mayen        EU     18     40   118        0
157               GJ,GH*                             Jersey        EU     27     14   122        0
158             UA2,RA2*                        Kaliningrad        EU     29     15   126        0
159                  YL*                             Latvia        EU     29     15   145        0
160                 OJ0*                        Market Reef        EU     18     15   167        0
161                  ER*                            Moldova        EU     29     16   179        0
162                SV/A*                        Mount Athos        EU     28     20   180        0
163                  C3*                            Andorra        EU     27     14   203        0
164                  TK*                            Corsica        EU     28     15   214        0
165                  OY*                          Faroe Is.        EU     18     14   222        0
166               OF-OI*                            Finland        EU     18     15   224        0
167                 ZB2*                          Gibraltar        EU     37     14   233        0
168                1A(1)  Sovereign Military Order of Malta        EU     28     15   246        0
169                 HB0*                      Liechtenstein        EU     28     14   251        0
170                  9H*                              Malta        EU     28     15   257        0
171                  JW*                           Svalbard        EU     18     40   259        0
172                  3A*                             Monaco        EU     27     14   260        0
173                  T7*                         San Marino        EU     28     15   278        0
174               GW,GC*                              Wales        EU     27     14   294        0
175                   HV                            Vatican        EU     28     15   295        0
176               YT,YU*                             Serbia        EU     28     15   296        0
177              Z3(41)*                          Macedonia        EU     28     15   502        0
178               Z6(55)                 Republic of Kosovo        EU     28     15   522        0
179               TA-TC*                             Turkey     EU,AS     39     20   390        0
180                KH8#*                     American Samoa        OC     62     32     9        0
181                 ZL9*   New Zealand Subantarctic Islands        OC     60     32    16        0
182                 KH1#                Baker & Howland Is.        OC     61     31    20        0
183              T8,(21)                              Palau        OC     64     27    22        0
184                  T31  C. Kiribati (British Phoenix Is.)        OC     62     31    31        0
185                 ZL7*                        Chatham Is.        OC     60     32    34        0
186               VK9X#*                       Christmas I.        OC     54     29    35        0
187               VK9C#*                Cocos (Keeling) Is.        OC     54     29    38        0
188            9M6,8(8)*                      East Malaysia        OC     54     28    46        0
189                  T32             E. Kiribati (Line Is.)        OC  61,63     31    48        0
190                KH2#*                               Guam        OC     64     27   103        0
191                KH3#*                        Johnston I.        OC     61     31   123        0
192                 ZL8*                       Kermadec Is.        OC     60     32   133        0
193                KH7K#                            Kure I.        OC     61     31   138        0
194               VK9L#*                       Lord Howe I.        OC     60     30   147        0
195                VK0#*                       Macquarie I.        OC     60     30   153        0
196                   C2                              Nauru        OC     65     31   157        0
197                  YJ*                            Vanuatu        OC     56     32   158        0
198                   A3                              Tonga        OC     62     32   160        0
199               P2(24)                   Papua New Guinea        OC     51     28   163        0
200                 KH0#                        Mariana Is.        OC     64     27   166        0

In [14]:
# save it as a spreadsheet because some people like that. 

needdf.to_excel('dx_needed.xlsx')